[submodule "extra-addons/odoo-argentina-ee"]
	path = extra-addons/odoo-argentina-ee
	url = git@github.com:ingadhoc/odoo-argentina-ee.git
	branch = 15.0

[submodule "extra-addons/account-payment"]
	path = extra-addons/account-payment
	url = git@github.com:ingadhoc/account-payment.git
	branch = 15.0

[submodule "extra-addons/odoo-argentina"]
	path = extra-addons/odoo-argentina
	url = git@github.com:ingadhoc/odoo-argentina.git
	branch = 15.0

[submodule "extra-addons/account-financial-tools"]
	path = extra-addons/account-financial-tools
	url = git@github.com:ingadhoc/account-financial-tools.git
	branch = 15.0
